.signup-card {
    position: absolute;
    top: 56%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 300px;
    margin: auto;
    padding: 0rem;
    border-radius: 1rem;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0px 0px 5px rgba(55, 175, 75, .5);
}

.signup-card h1 {
    margin-top: 0rem;
    background: #37AF4B;
    padding: 1rem;
    margin: 0rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 28px;
    width: 18rem;
}

.form {
    width: 75%;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.input {
    width: auto;
}

.signup-card .btn {
    width: fit-content;
    margin: 0rem 2.25rem;
    margin-bottom: 1rem;
    background: #37AF4B;
    color: white;
    margin-left: 11.3rem;
}

a {
    color: #37AF4B;
}

.input .icons {
    color: #016236;
    background: #fff;
}

.btn:hover {
    background: #016236;
}

@media screen and (min-width: 320px) {
    .signup-card {
        left: 50%;
        top: 57%;
    }
}